<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlJfENc054pcZHBeuE_M4QZQcZRas4y4U</string>
	<key>GCM_SENDER_ID</key>
	<string>198196393156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.threadsClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>threads-clone-e0e0d</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-clone-e0e0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198196393156:ios:e5e8f0a7961dc1403d0591</string>
</dict>
</plist>